## Deliverable 3. Create a Travel Itinerary Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [38]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df  = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,4,Half Moon Bay,US,81.81,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,15,Elizabeth City,US,77.05,overcast clouds,36.2946,-76.2511,Hampton Inn Elizabeth City
3,22,Abnub,EG,83.30,clear sky,27.2696,31.1511,Romany Adly Gad
4,26,Porto Novo,BJ,82.22,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin

In [39]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [40]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Pochutla"]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Tecoanapa"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Veracruz"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Puerto Madero"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
76,291,Pochutla,MX,88.83,scattered clouds,15.7432,-96.4661,Hotel Posada San Jose

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

        Lat      Lng
76  15.7432 -96.4661

In [43]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

        Lat    Lng
18  16.5167 -98.75

In [44]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

         Lat      Lng
121  19.3333 -96.6667

In [45]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

        Lat      Lng
72  14.7208 -92.4215

In [46]:
end = vacation_end[["Lat", "Lng"]]
print(end)

        Lat      Lng
76  15.7432 -96.4661

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (15.7432, -96.4661)
stop1 = (16.5167, -98.75)
stop2 = (19.3333, -96.6667)
stop3 = (14.7208, -92.4215)
end = (15.7432, -96.4661)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,291,Pochutla,MX,88.83,scattered clouds,15.7432,-96.4661,Hotel Posada San Jose
1,76,Tecoanapa,MX,85.01,clear sky,16.5167,-98.7500,Hotel Manglares
2,444,Veracruz,MX,86.27,few clouds,19.3333,-96.6667,El Carrizal
3,281,Puerto Madero,MX,89.80,scattered clouds,14.7208,-92.4215,Hotel La Central

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
city_markers = vacation_df["City"]
fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))